<?xml version="1.0" encoding="utf-8" ?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation = "https://raw.githubusercontent.com/squizlabs/PHP_CodeSniffer/3.6.2/phpcs.xsd">
    <description>coding style for the coding style</description>
    <rule ref="PSR12"/>
    <file>src</file>
</ruleset>
